<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TODO</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <style>
        .v-list-item {
            border-bottom: 2px #e6e6ee solid;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main class="grey lighten-3">
                <v-container>

                    <v-snackbar :color="notification.color" bottom right v-model="notification.show">
                        {{ notification.message }}
                    </v-snackbar>

                    <v-row justify="center">
                        <v-col cols="12" sm="8" md="6" lg="4">
                            <v-text-field hide-details class="white" outlined type="text" placeholder="Enter your item"
                                v-model="item" @keypress.enter="saveItem()" />
                        </v-col>
                    </v-row>
                    <v-row justify="center">
                        <v-col cols="12" sm="8" md="6" lg="4">
                            <v-list class="py-0">
                                 <!-- :class="drag.startIndex === index ? 'indigo lighten-4' : ''" -->
                                <v-list-item 
                                    draggable="true"
                                    :class="itemColorClass(index)"
                                    @dragStart="dragStart($event, index)"
                                    @dragOver="dragOver($event, index)"
                                    @drop="drop($event, index)"
                                    v-for="(item, index) in items" :key="index">
                                    <v-list-item-content>
                                        {{item}}
                                    </v-list-item-content>
                                    <v-btn icon @click="editItem(index)">
                                        <v-icon>mdi-pencil</v-icon>
                                    </v-btn>
                                    <v-btn icon @click="removeItem(index)">
                                        <v-icon color="red">mdi-delete</v-icon>
                                    </v-btn>
                                    <v-btn icon @click="removeItemByValue(item)">
                                        <v-icon color="orange">mdi-delete-sweep</v-icon>
                                    </v-btn>
                                </v-list-item>
                                <v-list-item v-if="items.length <= 0">
                                    <v-list-item-content>
                                        No content yet...
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-col>
                    </v-row>

                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <!-- TODO -->
    <!-- TODO:: Add popup notification -->
    <!-- TODO:: Drag&Drop items -->
    <!-- TODO:: Transition -->
    <!-- TODO:: Item is a class with a [title,completed,created_at,updated_at] -->
    <!-- TODO:: Use localStorage for saving data -->
    <!-- TODO:: Websockets -->

    <script>
        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                item: null,
                items: [],
                editIndex: null,
                notification: {
                    show: false,
                    message: null,
                    color: 'warning'
                },
                drag: {
                    startItem: null,
                    startIndex: null,
                    overIndex: null,
                    dropIndex: null,
                },
            },
            created(){
                let items = localStorage.getItem('items')
                if(items)
                    this.items = JSON.parse(items)
            },
            methods: {
                itemColorClass(index){
                    let color = ''
                    
                    if(this.drag.startIndex === index)
                        color = 'indigo lighten-4'
                    if(this.drag.overIndex === index)
                        color = 'green lighten-4'

                    return color
                },
                dragStart(event, index){
                    this.drag.startIndex = index
                },
                dragOver(event, index){
                    this.drag.overIndex = index
                    event.preventDefault()
                },
                drop(event, index){
                    this.drag.dropIndex = index
                    let startItem = this.items.splice(this.drag.startIndex, 1)[0]
                    this.items.splice(this.drag.dropIndex, 0, startItem)
                    
                    this.drag.startIndex = null
                    this.drag.overIndex = null
                    this.drag.dropIndex = null
                    this.showNotification(`Item ${this.drag.startIndex+1} was be moved`, 'success')
                },
                saveLocalStorage(){
                    localStorage.setItem('items', JSON.stringify(this.items))
                },
                saveItem() {
                    if (this.item !== null) {
                        if (this.editIndex || this.editIndex === 0) {
                            //update
                            this.items[this.editIndex] = this.item
                        } else {
                            //save
                            this.items.push(this.item)
                        }

                        this.saveLocalStorage()
                    

                        this.item = null
                        this.editIndex = null
                    } else {
                        this.showNotification('Item can`t be empty', 'warning')
                    }
                },
                removeItem(index) {
                    this.items.splice(index, 1)
                    this.showNotification('Item was removed', 'success')
                },
                removeItemByValue(item) {
                    let count = 0
                    this.items.forEach(el => item === el ? count++ : null)

                    for (let i = this.items.length - 1; i >= 0; i--) {
                        if (this.items[i] === item && count > 1) {
                            this.removeItem(i)
                            count--
                        }
                    }
                },
                editItem(index) {
                    this.editIndex = index
                    this.item = this.items[index]
                },
                showNotification(message, color){
                    this.notification.message = message
                    this.notification.color = color
                    this.notification.show = true
                },
            },
        })
    </script>
</body>

</html>